/* 重置 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* webkit引擎的浏览器取消默认样式(-webkit-appearance) */
input,textarea{-webkit-user-select:auto !important;user-select:auto !important;/*-webkit-appearance:none;*/}
:focus{outline:none;}
img{vertical-align:middle;border:0 none;}
a{text-decoration:none;color:inherit;}
section{display:block;margin:0 auto;}
header,footer{margin:0 auto;width:100%;}
em,i{font-style:normal;}
button,input{border:0 none;}
u,del{text-decoration:none;}
/* webkit引擎的浏览器取消默认样式 */
input[type="submit"],input[type="reset"],input[type="button"],input[type="password"],input[type="text"],button{-webkit-appearance:none;outline:none;}
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }
/*基于display:table-cell的自适应布局*/
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/*双栏自适应cell部分连续英文字符换行*/
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/*单行文字溢出虚点显示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
html, a {-webkit-tap-highlight-color: transparent}
textarea.fixAndroidKeyboard:focus, input.fixAKeyboard:focus {-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-user-modify: read-write-plaintext-only}
.noscroll {position: absolute;width: 100%;height: 100%;overflow: hidden;}
.hidden {display: none;}
.no_border{ border:0 !important;}
html, body {line-height: 1;width: 100%;font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;-webkit-text-size-adjust: none;  }
body { visibility: hidden; /* display:none;*/ background-color:#ffffff; position: relative;}
@-webkit-keyframes fadeIn{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
.jbox{-webkit-animation-name: fadeIn; /*动画名称*/
-webkit-animation-duration: .3s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/}
/* 布局grid 头部、主体、主栏、侧栏、尾部 rgba(255,255,255,.7)*/
/** 顶部导航 **/
/*中间框架*/
.nwrapper{
  width: 100%;
  position: relative;
  max-width: 640px;
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;
}
.index_main{ position:fixed; width:100%; height:100%; background:#ffffff; overflow:hidden;}
.main{width:100%; height:auto; display:block; float:left; position:relative; margin:0 0 .2rem;}
/*首页*/
.index_ad{ width: 100%; height: auto; display: block; float: left; margin: 0 0;}
.index_ad img,.index_hd img{ width:100%; height: auto; display: block; float: left;}
.index_ul{ width:100%; height: auto; display: block; float: left;margin: .2rem auto 0;}

.maker-list{width: 90%;margin: 0 auto .15rem;font-size:12px;table-layout: fixed;}
.maker-list li{border-bottom: 1px solid #ccc;margin: 0 0 .2rem 0;}
.maker-list li,.maker-list a{ width: 100%; height: auto; display: block; float: left;}
.maker-list li:last-child{border-bottom: 0 none;}
.maker-list img{width: 1rem;height: 1rem; display: block; float: left; margin: 0 .1rem .2rem 0; border-radius: .05rem;}
.maker-list li p{ width: 4.3rem; display:block;margin: .15rem 0 0;font-weight: 600;font-size:.28rem;overflow:hidden;color:#000;white-space: nowrap;text-overflow: ellipsis;}
.maker-list li small{ width: 4.3rem; display:block;margin: .1rem 0 0;font-size:.2rem;overflow:hidden;color:#222222;white-space: nowrap;text-overflow: ellipsis;}
.maker-list a::after {content: "";border: solid #000;width: 10px; height: 10px;float: right;margin: -.4rem .05rem 0;border-width: 2px 2px 0 0;-webkit-transform: rotate(45deg);transform: rotate(45deg);}


 